{% extends 'index.html' %}

    {% block title %}
	<title>天天生鲜-用户中心</title>
    {% endblock title %}

    {% block js %}
    {% endblock js %}

    {% block body %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user' %}">· 个人信息</a></li>
				<li><a href="{% url 'user:order' %}?page=1" class="active">· 全部订单</a></li>
				<li><a href="{% url 'user:address' %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in order_page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">订单号：<span class="order_id">{{ order.order_id }}</span> </li>
					<li class="col02 stress">{{ order.status }}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for sku in order.sku_list %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/images/{{ sku.sku.image }}"></li>
									<li class="col02">{{ sku.sku.name }}<em>{{ sku.price }}元/{{ sku.sku.unite }}</em></li>
									<li class="col03">{{ sku.count }}</li>
									<li class="col04">{{ sku.amount }}</li>
								</ul>
                                {% endfor %}

							</td>
							<td width="15%">{{ order.total_price | add:order.transit_price}}元(含运费10元)</td>
							<td width="15%">{{ order.status }}</td>
                            {% if order.order_status == 1 %}
							    <td width="15%"><a href="#" class="oper_btn go_pay">去付款</a></td>
                            {% elif order.order_status == 2 %}
							    <td width="15%"><a href="#" class="oper_btn deliver_goods">待发货</a></td>                                       {% elif order.order_status == 3 %}
							    <td width="15%"><a href="#" class="oper_btn receive_goods">待收货</a></td>                                       {% elif order.order_status == 4 %}
							    <td width="15%"><a href="#" class="oper_btn comment">待评价</a></td>                                       {% else %}
							    <td width="15%"><a href="#" class="oper_btn complete">已完成</a></td>
                            {% endif%}
						</tr>
					</tbody>
				</table>
				{% endfor %}

				<div class="pagenation">
                    {% if order_page.has_previous_page %}
					<a href="{% url 'user:order' %}?page={{ order_page.previous_page_number }}">上一页</a>
                    {% endif %}
                    {% for index in pages %}
                        {% if index == order_page.number %}
					        <a href="{% url 'user:order' %}?page={{ index }}" class="active">{{ index }}</a>
                        {% else %}
                            <a href="{% url 'user:order' %}?page={{ index }}">{{ index }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if order_page.has_next_page %}
					<a href="{% url 'user:order' %}?page={{ order_page.next_page_number }}">下一页></a>
                    {% endif %}
				</div>
		</div>
	</div>
    {% endblock body %}
{#---------------pay----------------#}
    {% block div %}
    <div class="popup_con">
            <div class="popup">
			<p>支付成功！</p>
		</div>

		<div class="mask"></div>
	</div>

{#    -----------deliver--------------#}

    <div class="popup_con deliver1">
            <div class="popup">
			<p>发货成功！</p>
		</div>

		<div class="mask"></div>
	</div>

{#-----------receiver--------------#}

    <div class="popup_con receiver1">
            <div class="popup">
			<p>收货成功！</p>
		</div>

		<div class="mask"></div>
	</div>

    <div class="popup_con comment1">
            <div class="popup">
			<p>评价成功！</p>
		</div>

		<div class="mask"></div>
	</div>
    {% endblock div %}

    {% block bottomjs %}
    {% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
{#    ---------------------------------------#}
		$('.go_pay').click(function() {
		    var order_id = $('.order_id').text();
		    $.ajax({
                url:'/order/pay',
                data:{'order_id':order_id},
                dataType:'json',
                async: false,
                success:function (data) {
                    if (data.status == '1'){
                        localStorage.setItem('order_finish',2);
			            $('.pay').fadeIn('fast', function() {
				            setTimeout(function(){
					            $('.pay').fadeOut('fast',function(){
						        window.location.href = '{% url 'user:order' %}?page=1';
					            });
				            },3000)

			            });
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });

		$('.deliver').click(function() {
		    var order_id = $('.order_id').text();
		    $.ajax({
                url:'/order/deliver',
                data:{'order_id':order_id},
                dataType:'json',
                async: false,
                success:function (data) {
                    if (data.status == '1'){
                        localStorage.setItem('order_finish',2);
			            $('.deliver1').fadeIn('fast', function() {
				            setTimeout(function(){
					            $('.deliver1').fadeOut('fast',function(){
						        window.location.href = '{% url 'user:order' %}?page=1';
					            });
				            },3000)

			            });
                    } else {
                        alert(data.msg);
                    }
                }
            });
        })

		$('.receiver').click(function() {
		    var order_id = $('.order_id').text();
		    $.ajax({
                url:'/order/receiver',
                data:{'order_id':order_id},
                dataType:'json',
                async: false,
                success:function (data) {
                    if (data.status == '1'){
                        localStorage.setItem('order_finish',2);
			            $('.receiver1').fadeIn('fast', function() {
				            setTimeout(function(){
					            $('.receiver1').fadeOut('fast',function(){
						        window.location.href = '{% url 'user:order' %}?page=1';
					            });
				            },3000)

			            });
                    } else {
                        alert(data.msg);
                    }
                }
            });
        })

		$('.comment').click(function() {
		    var comment = prompt('亲，您对该商品作何评价');

		    $.ajax({
                url:'/order/comment',
                data:{'order_id':order_id,'comment':comment},
                dataType:'json',
                async: false,
                success:function (data) {
                    if (data.status == '1'){
                        localStorage.setItem('order_finish',2);
			            $('.comment1').fadeIn('fast', function() {
				            setTimeout(function(){
					            $('.comment1').fadeOut('fast',function(){
						        window.location.href = '{% url 'user:order' %}?page=1';
					            });
				            },3000)

			            });
                    } else {
                        alert(data.msg);
                    }
                }
            });
        })


	</script>
    {% endblock bottomjs %}


